header {
    height: 50px;
    background-color: rgb(37, 109, 93);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white
}

header img {
    height: 40px;
}

header a {
    color: white;
    text-decoration: none;
}